#crossworks backup files
*.bak
*.hzs

#build directories
UART UCA0 Debug/
UART UCA0 Release/
UART UCA1 Debug/
UART UCA1 Release/
UART UCA2 Debug/
UART UCA2 Release/
UART UCA3 Debug/
UART UCA3 Release/
